<div class="border-bottom row" style="margin-bottom:12px; padding-bottom:8px">
  <div class="col-10">
    <h4 style="color:rgb(160,90,0); margin-bottom:4px;"> {{job['title']}}</h4>
      <div><b>Location: </b>{{job['location']}}</div>
      <div><b>Employment Type:</b> {{job['Employment Type']}}</div>
  </div>
  <div class="col-2">
    <a href="mailto:careers@homedepot.com?subject=Application%20for%20{{job['title']}}&body=Hi%2C%0D%0A%0D%0AMy%20name%20is%20%3Cyour%20name%20here%3E%20and%20my%20resume%20is%20linked%20right%20%3Chere%3E.%20You%20can%20also%20check%20out%20my%20LinkedIn%20at%20%3CLinkedIn%20link%20here%3E.%20I%20look%20forward%20to%20working%20as%20a%20{{job['title']}}%20at%20Home%20Depot!" type="button" class="btn btn-outline-primary float-right align-middle">Apply</a>
  </div>
</div>